VITE_SUPABASE_URL=https://ydbznbjedyezkndicfqj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkYnpuYmplZHllemtuZGljZnFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkxODA0MDYsImV4cCI6MjA4NDc1NjQwNn0.sqoLGX3sj2fEHxd3wnEBCInGxVHbtZoIrXPK65lGoQw
